name: Python package

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[tests,dev]
    - name: Run pre-commit
      run: |
        pre-commit install
        pre-commit run -a
    - name: Test with pytest/coverage
      run: |
        pip install pytest coveralls
        coverage run -a -m py.test policyuniverse/tests/test_expander_minimizer.py
        coverage run -a -m py.test policyuniverse/tests/test_arn.py
        coverage run -a -m py.test policyuniverse/tests/test_statement.py
        coverage run -a -m py.test policyuniverse/tests/test_policy.py
        coverage run -a -m py.test updater/test_service.py
        coverage run -a -m py.test updater/test_service_action.py

    - name: Upload coverage data under py37
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: success() && matrix.python-version == '3.7' && github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]'
      run: |
        coveralls --service=github
